<?xml version="1.0" encoding="utf-8"?>

<configuration>
	
	<system.web>
		<customErrors mode="Off" />
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0" />
		<pages validateRequest="false" autoEventWireup="true" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewState="false" enableViewStateMac="false" />
		<globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
		<httpRuntime maxRequestLength="18240" executionTimeout="600" requestValidationMode="2.0" />
		<sessionState mode="InProc" cookieless="false" timeout="5" />
		<caching>
			<outputCache enableOutputCache="false" enableFragmentCache="false" />
		</caching>
	</system.web>
   <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="2147483644"/>
           </webServices>
       </scripting>
   </system.web.extensions>


	<appSettings>
	<!--
		<add key="SmtpServer" 		value="smtp.viagreen.com.br" />
		<add key="SmtpLogin" 		value="interacao@viagreen.com.br" />
		<add key="SmtpPassword" 	value="123quatro56" />
		<add key="SmtpPort" 		value="587" />
	-->
		<add key="ConnectionString" value="Data Source=sv0003.dal05.twlayer.com,2433;Initial Catalog=joaopedro_futt;User ID=joaopedro_futt;Password=aaikau88;Persist Security Info=True" />
	</appSettings>

</configuration>
